.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
  width: 100%;
}

.buildContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 240px;
  font-weight: bold;
  font-size: 1.2rem;
}

.featureSvg {
  height: 150px;
  width: 150px;
}
