/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3651d0;
  --ifm-color-primary-dark: #2d46bf;
  --ifm-color-primary-darker: #2a42b4;
  --ifm-color-primary-darkest: #233795;
  --ifm-color-primary-light: #4b63d5;
  --ifm-color-primary-lighter: #566dd7;
  --ifm-color-primary-lightest: #7688df;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #b9c3ff;
  --ifm-color-primary-dark: #8d9dff;
  --ifm-color-primary-darker: #778aff;
  --ifm-color-primary-darkest: #3552ff;
  --ifm-color-primary-light: #e5e9ff;
  --ifm-color-primary-lighter: #fbfcff;
  --ifm-color-primary-lightest: #ffffff;
}


@media print {
  /* Hide the sidebar */
  .sidebar, .navbar, .footer, .theme-doc-breadcrumbs {
    display: none !important;
  }


  /* Ensure the main content takes full width */
  .main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
  }
}
